<div class="dialog">
 <form #newUserform="ngForm" class="dialog" >   
  <h2 mat-dialog-title>Add User</h2>
 
      
       <mat-form-field >
          <label>phoneNumber</label>
          <input matInput  [(ngModel)]="phoneNumber" name="phoneNumber"  required>
           <mat-error class="dialog-error" >
              phoneNumber is required;
           </mat-error>
       </mat-form-field>
       <mat-form-field >
         <label>username</label>
         <input matInput  [(ngModel)]="username" name="username"  required>
         <mat-error class="dialog-error" >
            username is required;
         </mat-error>
      </mat-form-field>
      
      <mat-dialog-actions >
          <button class="dialog-button" mat-dialog-close [disabled]="newUserform.invalid" mat-button mat-dialog-close color="primary" (click)="addCreatedUser({username:username,phoneNumber:phoneNumber})">create</button>
          <button mat-button mat-dialog-close color="primary" >cancel</button>
        </mat-dialog-actions>
  </form>
  </div>


 


